<?php

// Application Passwords Plugin Options
// ------------------------------------
// PEAR database DSN for performing the query.
$config['application_passwords_db_dsn'] = 'mysql://user:password@localhost/table';

// The SQL queries used to manage application-specific passwords.
// The query can contain the following macros that will be expanded as follows:
//      %a is replaced with the application name
//      %i is replaced with the application id
//      %p is replaced with the plaintext new password
// 		%s is replaced with the plaintext (hex) new password salt
//      %u is replaced with the username (from the session info)
//      %l is replaced with the local part of the username
//         (in case the username is an email address)
//      %d is replaced with the domain part of the username
//         (in case the username is an email address)

// Sample CREATE statement
// CREATE TABLE app_password (app_id int NOT NULL AUTO_INCREMENT KEY, application varchar(100) NOT NULL, username varchar(100) NOT NULL, domain varchar(100) NOT NULL, salt varchar(16) NULL, password varchar(100) NULL, created datetime);

// Sample Dovecot password query:
// password_query = SELECT username, domain, NULL AS password, 'Y' as nopassword FROM app_password WHERE username = '%n' AND password = SHA2(salt+REPLACE('%w',' ',''),"512")
// password_query = CALL app_authenticate '%n', '%w', '%r', '%s', 'dovecot', 1,;

// SQL query for displaying list of applications for which a password is set
$config['application_passwords_select_query'] = 'SELECT app_id, application, created FROM app_password WHERE username=%l AND domain=%d';

// SQL query for storing new application-specific password
$config['application_passwords_insert_query'] = 'INSERT INTO app_password (username, domain, application, salt, password, created) VALUES (%l, %d, %a, %s, SHA2(%s+%p,"256"), now())';

// SQL query for deleting an application-specific password
$config['application_passwords_delete_query'] = 'DELETE FROM app_password WHERE username=%l AND domain=%d AND app_id=%i';

// By default domains in variables are using unicode.
// Enable this option to use punycoded names
$config['application_passwords_idn_ascii'] = false;

// Show password in blocks of 4 characters separated by spaces
$config['application_passwords_show_spaces'] = true;

// Show a QR code that contains the password so it can be scanned for a phone
// Note: This uses google charts image API, so it sends the password 
// to Google/NSA/Lizard People over HTTPS.
$config['application_passwords_show_barcode'] = false;